name: CD
on:
  push:
    branches:
      - "main"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Check Types
        run: npm run check-types

      - name: Linting
        run: npm run eslint

      - name: Code styling (prettier)
        run: npm run prettier

      - name: Tests
        run: npm test

  deploy:
    name: Deploy Gnosis
    runs-on: ubuntu-latest
    needs: test
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure AWS credentials
        id: aws-credentials-prod
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "lts/*"

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build

      - name: Deploy to S3 bucket
        run: |
          aws s3 sync dist/ s3://${{ secrets.CDN_BUCKET_NAME }}/

      # - name: Invalidate CloudFront cache and wait until complete
      #   run: |
      #     INVALIDATION_ID=`aws cloudfront create-invalidation --distribution-id ${{ secrets.CDN_ID }} --paths "/*" | jq -r .Invalidation.Id`
      #     aws cloudfront wait invalidation-completed --distribution-id ${{ secrets.CDN_ID }} --id $INVALIDATION_ID

      # - name: Remove old files
      #   run: |
      #     aws s3 sync dist/ s3://${{ secrets.CDN_BUCKET_NAME }}/ --delete
