name: Release
on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  CD_ROLE_ARN: arn:aws:iam::${{ secrets.AWS_ACCOUNT_ID }}:role/GnosisGithub

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      contents: write      # push tags & commits
      id-token: write      # OIDC for npm
      issues: write        # comment on issues
      pull-requests: write # optional, semantic-release PR analysis
    
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "lts/iron"

      - name: Install dependencies
        run: npm ci

      - name: Check types
        run: npm run check-types

      - name: Linting
        run: npm run eslint

      - name: Code styling (prettier)
        run: npm run prettier

      - name: Tests
        run: npm test

      - name: Build package
        run: npm run build

      - name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm run semantic-release

  deploy:
    name: Deploy Gnosis Design System
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    needs: release
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure AWS credentials with OIDC
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: ${{ env.CD_ROLE_ARN }}
          role-session-name: build-${{ github.sha }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "lts/iron"

      - name: Install dependencies
        run: npm ci

      - name: Build package
        run: npm run build:design-system

      - name: Deploy to S3 bucket
        run: |
          aws s3 sync design-system/ s3://${{ secrets.CDN_BUCKET_NAME }}/

      - name: Invalidate CloudFront cache and wait until complete
        run: |
          INVALIDATION_ID=`aws cloudfront create-invalidation --distribution-id ${{ secrets.CDN_ID }} --paths "/*" | jq -r .Invalidation.Id`
          aws cloudfront wait invalidation-completed --distribution-id ${{ secrets.CDN_ID }} --id $INVALIDATION_ID
